alias k="kubectl"
alias kgp="kubectl get pods"
alias kgs="kubectl get svc"
alias d="docker"
alias dc="docker compose"
alias dn="dotnet"
alias dnr="dotnet run"
alias dnb="dotnet build"
alias dnt="dotnet test"
