[Unit]
Description=Start k3d dev cluster
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/k3d cluster start dev
RemainAfterExit=true

[Install]
WantedBy=default.target
